<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.candidature_m1 %}
        <a href="{{ site.data.contact.candidature_m1 }}" class="button">Candidature M1</a>
    {% endif %}
  </div>
  <div class="call-box-bottom">
    {% if site.data.contact.candidature_m2 %}  
    	<a href="{{ site.data.contact.candidature_m2 }}" class="button">Candidature M2</a>
    {% endif %}
  </div>
</div>
